{% extends 'base-dashboard.html.twig' %}

{% block title %}Backend Users{% endblock %}

{% block breathcrumbs %}/ <a href="{{ path('app_dashboard_user') }}">Users</a> / <span class="current">Edit User</span>{% endblock %}

{% block bodyDashboard %}
    <div class="section">
        <div class="content">

            {{ form_start(form) }}
        
            <fieldset>
                <legend>Edit Users "{{ user.email }}"</legend>

                {{ include('dashboard/users/_profile.html.twig', {form: form.userProfile}) }}
                
                {% embed 'dashboard/shared/_field.html.twig' with { 
                        field: form.roles,
                        label: 'Select Roles',
                } %}{% endembed %}

                <div>
                    {% embed 'dashboard/shared/_field.html.twig' with { 
                            field: form.plainPassword.first,
                            label: 'Password',
                    } %}{% endembed %}
                    
                    {% embed 'dashboard/shared/_field.html.twig' with { 
                            field: form.plainPassword.second,
                            label: 'Repeated Password',
                    } %}{% endembed %}
                </div>
            </fieldset>

            <div class="actions">
                <a class="button button-secondary" href="{{ path('app_dashboard_user') }}">Cancel</a>
                <button type="submit" class="button-primary">Save User</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
