{% extends 'base-dashboard.html.twig' %}

{% block title %}Backend Users{% endblock %}

{% block breathcrumbs %}/ Users{% endblock %}

{% block bodyDashboard %}

    {{ include('/dashboard/shared/_flash.html.twig') }}

    <section>
        {% if users|length == 0 %}
            <div class="content">
                <span>No users have been found.</span>
            </div>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.userProfile.name ?? '' }}</td>
                        <td>
                            <div class="items">
                            {% for role in user.roles %}     
                                <div class="small-tag">{{ role }}</div>
                            {% endfor %}
                            </div>
                        </td>
                        <td>
                            <div class="items">
                                <a 
                                    href="{{ path('app_dashboard_user_edit', { id: user.id }) }}"
                                    class="button button-secondary"
                                >
                                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-pencil"></use>
                                    </svg>
                                    Edit
                                </a>
                                
                                <a 
                                    href="{{ path('app_dashboard_user_delete', { id: user.id }) }}"
                                    class="button button-secondary"
                                    {# {% if app.user.id != user.id and 'ROLE_ADMIN' in app.user.roles %}
                                        disabled="disabled"
                                    {% endif %} #}
                                >
                                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-bin2"></use>
                                    </svg>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {{ include('/dashboard/shared/_pagination.html.twig', { objects: users, maxPages: maxPages }) }}
        {% endif %}
    </section>
{% endblock %}
