{% extends 'base-dashboard.html.twig' %}

{% block title %}Backend Users{% endblock %}

{% block breathcrumbs %}/ <span class="current">Users</span>{% endblock %}

{% block bodyDashboard %}
    <div class="section">
        <div class="content content-filters">
            <div></div>
            <div class="content-actions">
                <button 
                    type="submit" 
                    form="tableForm"
                    formaction="{{ path('app_dashboard_user_edit') }}"
                    value="edit" 
                    class="button button-secondary"
                    disabled="disabled"
                >
                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-pencil"></use>
                    </svg>
                    Edit
                </button>
                
                <button 
                    type="submit" 
                    form="tableForm" 
                    formaction="{{ path('app_dashboard_user_delete') }}"
                    value="delete" 
                    class="button button-secondary"
                    disabled="disabled"
                >
                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-bin2"></use>
                    </svg>
                    Delete
                </button>
            </div>
        </div>
    </div>

    <div class="section">
        {% if users|length == 0 %}
            <div class="content">
                <span>No users have been found.</span>
            </div>
        {% else %}
            <form id="tableForm">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr> 
                            <td data-cell="ID">
                                <input class="object_id" type="radio" name="object_id" value="{{ user.id }}" />
                                # {{ user.id}}
                            </td>
                            <td data-cell="Email">{{ user.email }}</td>
                            <td data-cell="Name">{{ user.userProfile.name ?? '' }}</td>
                            <td data-cell="Roles">
                                <div class="items">
                                {% for role in user.roles %}     
                                    <div class="small-tag">{{ role }}</div>
                                {% endfor %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            
            {{ include('/dashboard/shared/_pagination.html.twig', { objects: users, maxPages: maxPages }) }}
        {% endif %}
    </div>
{% endblock %}
