{% extends 'base-dashboard.html.twig' %}

{% block title %}Blog Posts{% endblock %}

{% block breathcrumbs %}/ <a href="{{ path('app_dashboard_blog_post') }}">Blog Posts</a> / <span class="current">Edit Post</span>{% endblock %}

{% block headerActions %} 
    <div class="actions">
        <a class="button button-secondary" href="{{ path('app_dashboard_blog_post') }}">Cancel</a>
        <button type="submit" class="button-primary">Save Post</button>
    </div>
{% endblock %}

{% block formStart %}
    {{ form_start(form) }}
{% endblock %}

{% block bodyDashboard %}
    <div class="section has-action-bar">
        <div class="content">

            <fieldset>
                <legend>Edit Post "{{ post.title }}"</legend>
                
                {% embed 'dashboard/shared/_field.html.twig' with { 
                        field: form.title,
                        label: 'Title',
                } %}{% endembed %}

                {% embed 'dashboard/shared/_field.html.twig' with { 
                        field: form.category,
                        label: 'Category',
                } %}{% endembed %}           
                
                {% embed 'dashboard/shared/_field.html.twig' with { 
                        field: form.image,
                        label: 'Image',
                } %}{% endembed %}

                {% embed 'dashboard/shared/_field.html.twig' with { 
                        field: form.links,
                        label: 'Links',
                } %}{% endembed %}

                {% embed 'dashboard/shared/_field.html.twig' with { 
                        field: form.content,
                        label: 'Content',
                } %}{% endembed %}
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block formEnd %}
    {{ form_end(form) }}
{% endblock %}