{% extends 'base-dashboard.html.twig' %}

{% block title %}Blog Posts{% endblock %}

{% block breathcrumbs %}/ <span class="current">Blog Posts</span>{% endblock %}

{% block bodyDashboard %}
    <div class="section">
        <div class="content content-filters">
            <div class="content-filters-category">
                {% for category, icon in categories %}
                    {% set buttonType = app.request.get('category') == category ? 'button-primary' : 'button-secondary' %}
                    {% set linkCategory = app.request.get('category') == category ? null : category %}
                    <a 
                        href="{{ path('app_dashboard_blog_post', { category: linkCategory }) }}"
                        class="button {{ buttonType }}"
                    >
                        <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                            <use href="{{ asset('/svg/dashboard-icons.svg') }}#{{ icon }}"></use>
                        </svg>
                    </a>
                {% endfor %}
            </div>

            <div class="content-actions">
                <a 
                    href="{{ path('app_dashboard_blog_post_create') }}"
                    class="button button-secondary"
                >  
                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-plus"></use>
                    </svg>
                    Create
                </a>
                <button 
                    type="submit" 
                    form="tableForm"
                    formaction="{{ path('app_dashboard_blog_post_edit') }}"
                    value="edit" 
                    class="button button-secondary"
                    disabled="disabled"
                >
                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-pencil"></use>
                    </svg>
                    Edit
                </button>
                
                <button 
                    type="submit" 
                    form="tableForm" 
                    formaction="{{ path('app_dashboard_blog_post_delete') }}"
                    value="delete" 
                    class="button button-secondary"
                    disabled="disabled"
                >
                    <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                        <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-bin2"></use>
                    </svg>
                    Delete
                </button>
            </div>
        </div>
    </div>

    <div class="section">
        {% if posts|length == 0 %}
            <div class="content">
                <span>No Blog posts have been found.</span>
            </div>
        {% else %}
            <form id="tableForm">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Last Changed on</th>
                            <th>Last Changed by</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td data-cell="ID">
                                <input class="object_id" type="radio" name="object_id" value="{{ post.id }}" />
                                # {{ post.id}}
                            </td>
                            <td data-cell="Title">{{ post.title }}</td>
                            <td data-cell="Category">
                                <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                    <use href="{{ asset('/svg/dashboard-icons.svg') }}#{{ categories[post.category] }}"></use>
                                </svg>
                                {{ post.category|capitalize }}
                            </td>
                            <td data-cell="Last Changed on">{{ post.modifiedOn != null ? post.modifiedOn|date("d/m/Y") : post.createdOn|date("d/m/Y") }}</td>
                            <td data-cell="Last Changed by">{{ post.modifiedBy != null ? post.modifiedBy.email : post.createdBy.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>

            {{ include('/dashboard/shared/_pagination.html.twig', { objects: posts, maxPages: maxPages }) }}
        {% endif %}
    </div>
{% endblock %}
