{% extends 'base-dashboard.html.twig' %}

{% block title %}Blog Posts{% endblock %}

{% block breathcrumbs %}/ Blog Posts{% endblock %}

{% block bodyDashboard %}

    {{ include('/dashboard/shared/_flash.html.twig') }}

    <section>
        <div class="content content-filters">
            <div class="content-filters-category">
                {% for category, icon in categories %}
                    {% set buttonType = app.request.get('category') == category ? 'button-primary' : 'button-secondary' %}
                    {% set linkCategory = app.request.get('category') == category ? null : category %}
                    <a 
                        href="{{ path('app_dashboard_blog_post', { category: linkCategory }) }}"
                        class="button {{ buttonType }}"
                    >
                        <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                            <use href="{{ asset('/svg/dashboard-icons.svg') }}#{{ icon }}"></use>
                        </svg>
                    </a>
                {% endfor %}
            </div>

            <a 
                href="{{ path('app_dashboard_blog_post_create') }}"
                class="button button-secondary"
            >  
                <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                    <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-plus"></use>
                </svg>
                Create
            </a>
        </div>
    </section>

    <section>
        {% if posts|length == 0 %}
        <div class="content">
            <span>No Blog posts have been found.</span>
        </div>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Last Changed on</th>
                    <th>Last Changed by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>
                        <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                            <use href="{{ asset('/svg/dashboard-icons.svg') }}#{{ categories[post.category] }}"></use>
                        </svg>
                        {{ post.category|capitalize }}
                    </td>
                    <td>{{ post.modifiedOn != null ? post.modifiedOn|date("d/m/Y") : post.createdOn|date("d/m/Y") }}</td>
                    <td>{{ post.modifiedBy != null ? post.modifiedBy.email : post.createdBy.email }}</td>
                    <td>
                        <div class="items">
                            <a 
                                href="{{ path('app_dashboard_blog_post_edit', { id: post.id }) }}"
                                class="button button-secondary"
                            >
                                <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                    <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-pencil"></use>
                                </svg>
                                Edit
                            </a>
                            
                            <a 
                                href="{{ path('app_dashboard_blog_post_delete', { id: post.id }) }}"
                                class="button button-secondary"
                            >
                                <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                    <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-bin2"></use>
                                </svg>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
{% endblock %}
