<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('/images/favicon.ico') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css" />
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('dashboard') }}{% endblock %}
        {% endblock %}
            
        <script>
            /*to prevent Firefox FOUC, this must be here*/
            let FF_FOUC_FIX;
        </script>
    </head>
    <body>
        <div id="container">

            {{ include('/dashboard/shared/_navigation.html.twig') }}

            <div id="content-container">
                <header>
                    <div class="header-left">
                        {{ block('title') }}
                        <span class="breathcrumbs">
                            <a href="{{ path('app_dashboard_home') }}">Dashboard</a> {% block breathcrumbs %}{% endblock %}
                        </span>
                    </div>
                    
                    <div class="header-right">
                        <div>{{ app.user.email }}</div>
                        <a href="{{ path('app_logout') }}" class="button button-secondary">
                            <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-exit"></use>
                            </svg>
                            Logout
                        </a>
                    </div>
                </header>
                <div id="content">
                
                    {{ include('/dashboard/shared/_flash.html.twig') }}
                
                    {% block bodyDashboard %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
