<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link 
            rel="icon" 
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 
            viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text>
            <text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
        > #}

        {% block javascripts %}
            {% block importmap %}{{ importmap('dashboard') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="container">

            {{ include('/dashboard/shared/_navigation.html.twig') }}

            <div id="content-container">
                <header>
                    <div class="header-left">
                        {{ block('title') }}
                        <span class="breathcrumbs">
                            <a href="{{ path('app_dashboard_home') }}">Dashboard</a> {% block breathcrumbs %}{% endblock %}
                        </span>
                    </div>
                    
                    <div class="header-right">
                        <div>{{ app.user.email }}</div>
                        <a href="{{ path('app_logout') }}" class="button button-secondary">
                            <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
                                <use href="{{ asset('/svg/dashboard-icons.svg') }}#icon-exit"></use>
                            </svg>
                            Logout
                        </a>
                    </div>
                </header>
                <div id="content">
                    {% block bodyDashboard %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
