<div class="field-row">

    {{ form_label(field, label) }}

    {% if field.vars.id == 'editor' %}
        <div 
            id="editor-container"
            class="editor-container editor-container_balloon-editor editor-container_include-block-toolbar"
        >
            {% set initialData = field.vars.value ?? '' %}
            <div class="editor-container__editor">
                <div
                    id="editor" 
                    data-initialData="{{ initialData }}"
                ></div>
            </div>
        </div>

        <script type="module" src="{{ asset('/javascript/ckeditor.js') }}" ></script>
    {% else %}
        {{ form_widget(field) }}
    {% endif %}

    {% if form_help(field) %}
        <small>{{ form_help(field) }}</small>
    {% endif %}

    {% if  form_errors(field) %}    
        <div class="field-errors">
            {{ form_errors(field) }}
        </div>
    {% endif %}
</div>